.header{
    text-align: center;
    color: rgb(62, 47, 27);
    font-style: italic;
    margin-top: -35px;
    padding-top: 50px;
    font-size: 40px;
}

.css-ico5gq-MuiContainer-root {
    width: 100%;
    margin-left: 0;
    box-sizing: border-box;
    margin-right: 0;
    display: block;
    padding-left: 16px;
    padding-right: 16px;
    margin-trim: 30px;
    background-image:url('./Your\ paragraph\ text.png');    
    height: 120vh;
    background-repeat: no-repeat;
    background-size:cover ;
}
@media (max-width: 600px) {
    .css-ico5gq-MuiContainer-root {
        padding-left: 24px;
        padding-right: 24px;
        height: 80vh;
    }
    .header{
        font-size: 20px;
    }
}

